
@media (min-width: 1600px){
  .card-link {
    display: flex;
    height: 28vh;
    width: 27vw;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(255,255,255);
    border-radius: 1rem;

  }

  .card-section {
    padding: 0 3rem 0 3rem;
    width: 14.5vw;
  }

  .card-title {
    font-size: 2.2rem;
  }

  .card-text {
    margin: 0 0 1.3rem 0;
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-style: oblique;
  }

  .card-button {
    margin: 1.3rem 0 0 0;
    height: 3.5vh;
    width: 6vw;

    background-color: rgb(0,117,235);
    border-radius: 1rem;
    border: none;

    color: rgb(255,255,255);
    font-size: 1.3rem;
  }

  .card-button:hover {
    background-color: rgb(0,44,235);
    animation: zoom 1s ease;
  }

  .card-img {
    height: 28vh;
    width: 12.5vw;
    border-radius: 0 1rem 1rem 0 ;
  }
}

@media (min-width: 1200px) and (max-width: 1599px){
  .card-link {
    display: flex;
    height: 30vh;
    width: 36vw;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(255,255,255);
    border-radius: 1rem;

  }

  .card-section {
    padding: 0 3rem 0 3rem;
    width: 14.5vw;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-text {
    margin: 0 0 1.3rem 0;
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-style: oblique;
  }

  .card-button {
    margin: 1.3rem 0 0 0;
    height: 3.5vh;
    width: 6vw;

    background-color: rgb(0,117,235);
    border-radius: 1rem;
    border: none;

    color: rgb(255,255,255);
    font-size: 1.3rem;
  }

  .card-button:hover {
    background-color: rgb(0,44,235);
    animation: zoom 1s ease;
  }

  .card-img {
    height: 30vh;
    width: 12.5vw;
    border-radius: 0 1rem 1rem 0 ;
  }
}