
  .card-link {
    display: flex;
    height: 12vh;
    width: 15vw;

    border: 0.07rem solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
  }

  .card-img {
    height: 12vh;
    width: 6vw;
    border-radius: 1rem 0 0 1rem;
  }

  .card-section {
    align-content: center;
    padding: 0 0 0 2rem;
    background-color: rgba(250,250,250, 0.5);
  }

  .card-title {
    font-size: 1.6rem;
  }

  .card-link:hover {
    animation: jump 1s ease;
    background-color: rgba(240,240,240, 0.5);
    color: rgb(0,44,235);
  }
