

@media (min-width: 1600px){
    .link-card {
        display: flex;
        flex-direction: column;
        height: 50vh;
        width: 15vw;

        margin: 0;
        padding: 3rem;

        flex-wrap: wrap;
        border-radius: 1rem;

        justify-content: center;
        text-align: center;
        align-items: center;

        background-color: #ffffff;

        text-decoration-line: none;
        color: black;
    }

    .title-card {
        margin: 0 0 3rem 0;
        font-size: 2.3rem;
    }

    .image-card {
        height: 20vh;
        width: 10vw;
        border-radius: 10px;
    }

    .description-card {
        margin: 5rem 0 5rem 0;
        font-size: 1.4rem;
        font-weight: lighter;
        font-style: italic;
    }

    .button-card {
        height: 4.5vh;
        width: 12vw;
        background-color: rgb(0, 117, 235);
        border-radius: 1rem;
        border: none;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);;
    }

    .button-card:hover {
        animation: zoom 1s ease;
        background-color: rgb(0, 44, 235);
    }
}


@media (min-width: 1200px) and (max-width: 1599px) {
    .link-card {
        display: flex;
        flex-direction: column;
        height: 55vh;
        width: 18vw;

        margin: 0;
        padding: 3rem;

        flex-wrap: wrap;
        border-radius: 1rem;

        justify-content: center;
        text-align: center;
        align-items: center;

        background-color: #ffffff;

        text-decoration-line: none;
        color: black;
    }

    .title-card {
        margin: 0 0 3rem 0;
        font-size: 2.3rem;
    }

    .image-card {
        height: 20vh;
        width: 10vw;
        border-radius: 10px;
    }

    .description-card {
        margin: 5rem 0 5rem 0;
        font-size: 1.4rem;
        font-weight: lighter;
        font-style: italic;
    }

    .button-card {
        height: 4.5vh;
        width: 12vw;
        background-color: rgb(0, 117, 235);
        border-radius: 1rem;
        border: none;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);;
    }

    .button-card:hover {
        animation: zoom 1s ease;
        background-color: rgb(0, 44, 235);
    }
}