
 @media (min-width: 1200px){
     * {
         margin: 0;
         padding: 0;
         font-family: sans-serif;
         font-size: 10px;
     }

     body {
         margin: 0;
         background-color: rgb(5, 33, 52);
     }

     article,
     section,
     main {
         width: 100%;
     }

 }
